h1 {
  color: black;
}

a {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
/* background-color: black; */
margin-right: 15px;
color: black;
}

header{
  display: flex;
  
}
body {
  background-color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
    
  }
  th{
    background-color :black;
    color:white;
    border: 1px solid black;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    
    
  }
  tr:nth-child(odd){
    background-color: gray;
    color:black;
  }

  .makeMeBold{
    font-weight:bold ;
  }

  .non {
    align-items: flex-end;
  }

  .notBold {
    font-weight: normal;
  }