<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panda gallery</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="body">
    <div class="maincontent">
        <button class='previous'>&lt; </button>
        <figure>
            <img class="main" src=<%= imageList[0].url %>>
            <figurecapture><% imageList[0].text %></figurecapture>
        </figure>
        <button class='next'>&gt;</button>
    </div>
    <div class="allTheImages">
        <% for (let i=0; i< imageList.length; i++){ %>
        <img class="small" src=<%= imageList[i].url %>>
        <% } %>
    </div>
    <script src="home.js"> </script>
</body>

</html>