<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .sadface{
        color:red
    }
    </style>
</head>

<body>
    <p class="happyface" style="display:none"></p>
    <p class="sadface" style="display:none">The username is already in use</p>
    <form method="POST" action="/api/links">
        <label for="url">URL</label><br>
        <input type="url" id="url" name="url" required autofocus><br>
        <label for="alias">Alias</label><br>
        <input type="text" id="alias" name="alias" required placeholder="nem"><br>
        <input type="submit" value="Submit me">
    </form>
    <script src="main.js">
    </script>
</body>

</html>