.container {
    display: flex;
    
  }
  
.item{
height: 300px;
width: 300px;
}

.green{
    background: lightgreen;
    order:2;
}

.yellow{
    background-color: yellow;
    order:1;
}

.purple{
    background-color: purple;
    order:0;
}