.currentImage {
    border: 10px;
    border-color: red; 
}

.small {
    margin-top: 20px
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main {
    
}

.previous, .next {
    background-color: white;
    border: 0;
    width: 30px;
}

.previous {
    margin-right: 15px;
}

.next {
    margin-left: 15px;
}