.body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    flex-shrink: 1;
}

.maincontent {
    display:flex;
    flex-direction: row;
    justify-content: center;
   
}

.currentImage {
    border: 5px solid white;
}

.figure {
    display:flex;
    /* min-width: 900px;
    min-height: 450px; 
    max-width: 900px;
    max-height: 450px; */
}

.figureCapture {
    position:absolute;
    color: white;
    background-color: rgba(0,0,0,0.4);
    align-self: flex-end;  
   
}

.previous {
    background-color: white;
    font-weight: bold;
}

.next {
    background-color: white;
    font-weight: bold;
}

.small {
    margin-top: 30px;
    margin-right: 30px;
    align-self: center;
    width:42px;
    height: 42px;
}

.small:hover{
    transform: scale(1.5);
}