<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Barmi</title>
</head>

<body>
    <h1><%=title%></h1>
    <ul>
        <% for (let i=0; i< todo.length; i++){ %>
        <li><%=todo[i]%></li>
        <% } %>
    </ul>
    <img src="https://pics.me.me/pink-panthers-to-do-list-to-do-todo-to-do-7037689.png">
</body>

</html>