<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>

<body>
    <script>
        let xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost:3030/forgot');
        const bodySelect = document.querySelector('body');

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    // username(response);
                    console.log(response)
                }
            }
        }

        function usernames(data) {
            for (let i = 0; i < data.length; i++) {
                let divElement = document.createElement('div');
                divElement.textContent = data[i].username;
                bodySelect.appendChild(divElement);
            }
        }

        xhr.send();
    </script>
</body>

</html>