<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Really amazing music player aka Winamp 2.0</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div class="logo">logo
    </div>
    <div class="artwork">artwork
    </div>
    <div class="current">current
    </div>
    <div class="playlistControl">playlistControl
    </div>
    <div class="playlist">playlist
    </div>
    <div class="tracks">tracks
    </div>
    <div class="control">control
    </div>


</body>

</html>



<!-- logo
artwork
current playing

playlists
tracks
control panel -->