<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cocktails</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h1><%=title%></h1>
    <header>
        <a href="http://localhost:3002">All</a>
        <a href="http://localhost:3002/?alcohol=rum">Rum</a>
        <a href="http://localhost:3002/?alcohol=tequila">Tequila</a>
        <a href="http://localhost:3002/?alcohol=gin">Gin</a>
        <a href="http://localhost:3002/?alcohol=vodka">Vodka</a>
    </header>
    <br>
    <table id="tableID">    
        <tr>
            <th>Cocktails</th>
            <th>Price</th>
        </tr>
        <tr>

        </tr>

        <% for (let i=0; i< cocktails.length; i++){ %>
        <tr>
            <td>
                <p class="makeMeBold"><%=cocktails[i].name%>
                <% if(cocktails[i].isAlcoholic === false) {%>
                     <span class="notBold ">(non-alcoholic) </span> </p>
                <% }%>
                <p><%=cocktails[i].contains%></p>
            </td>
            <td>
                <p class="makeMeBold"><%=cocktails[i].price%> Ft</p>
            </td>
        </tr>
        <% } %>


    </table>
</body>

</html>