<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aukcziojo</title>
</head>

<body>
    <ul>
        
    </ul>
    <form method="POST" action="">
        <label for="select">Name</label>
        <select>
            <option>Select an item</option>
        </select>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required placeholder="What is your name dummy?">
        <label for="Amount">Amount</label>
        <input id="amount" name="amount" type="text" required placeholder="Number!!">
        <input type="submit" value="Bid your soul away">
    </form>
    <script src="./main.js"></script>
</body>

</html>